body{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 960px;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


main {
    background-color: white;
    margin: 10% auto auto auto;
    padding: 2em 2em 2em 2em;
    border-radius: 4px;
    max-width: 400px;

}
